html{
   box-sizing: border-box;
}

*,
*::after,
*::before{
   box-sizing: inherit;
}
a{
   text-decoration: none;
   color: inherit;
}
body{
   font-family: "Prompt", sans-serif;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.2;
}
h1{
   font-family: "Gravitas One", serif;
}
.menu{
   position: fixed;
   z-index: 1;
   left: 0;
   right: 0;
   padding: 60px 0;
}
.menu__list{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 60px;
}
.top__layer{
   /* height: 100vh;
   width: 100vh; */
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}